*{
  text-decoration: none;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}
body{
  background: url("https://planetchamonix.com/wp-content/uploads/2018/11/Arteagas-Mexican-Grocery-Store-Background.jpg");
  background-size: cover;
}
.header{
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  border-bottom:2px solid orange;
  border-radius: 10px;
  color: white;
}
.createProductBtnWrapper{
  width: 60%;
  height: 52px;
  margin: 30px  auto;
  text-align: end;
}
.createProductBtn{
  width: 50px;
  height: 50px;
  animation: move-circle;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  border-radius: 50%;
  border:3px solid greenyellow;
  background: none;
  outline: none;
  transform:matrix(120px);
}
.createProductBtn:hover{
  border-color: dodgerblue;
}


@keyframes move-circle {
  from{
   transform: scale(1);
  }
  to{
    transform:scale(1.3);
  }
}
